body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 750px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:465px;
}
.blue-highlight{
    color: #363958;
}
.orange-highlight{
    color: #FF8367;
}
.link-btn{
    width: 170px;
    height: 60px;
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF8063,#F46060);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.middle-line{
    text-align: center;
}
.latest-sec{
    background-color: #f4f8f7;
}